# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# VSCode and JetBrains IDE configs
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter
.ipynb_checkpoints

# Pipenv
Pipfile.lock

# Jenkins artifacts (optional)
build/
target/
